ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    color: $primary-text-color;
    background-color: $white-color;

    font-family: $font-main, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}



