.container.main-container {
    padding-top: 16px;
    padding-left: 15px;
    padding-right: 23px;
    padding-bottom: 16px;
    margin: 0;
}

.menu {
    position: fixed;
}

.menu.is-hidden {
    opacity: 0;
    pointer-events: none;
}