.container.main-container {
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 23px;
    padding-bottom: 22px;

    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
}

.menu {

    position: fixed;
    padding-top: 60px;
    padding-bottom: 60px;
    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);


    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }

    &.is-open {
      display: block;
      fill: $accent-color;
    }

}


.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .menu-button .icon-close {
    display: none;
  }
  
  .menu-button.is-open .icon-close {
    display: block;
  }
  
  .menu-button.is-open .icon-menu {
    display: none;
  }