// Основной шрифт
$font-main: Roboto;
// Шрифт в логотипе
$font-logo: Raleway;

//  Цвет основного текста color: #757575; 
//  Цвет вторичного текста color: #212121; 
//  Цвет акцент color: #2196F3; 
// цвет белый color: #FFFFFF; 
// вторичный background-color: #E5E5E5; 
// цвет бекграунд футера :#2F303A; 
// цвет бекграунд страницы портфолио :#F5F4FA; 
// цвет рамки секций :#AFB1B8; 
//  основной цвет рамки :#ECECEC; 
// вторичный цвет рамки :#EEEEEE; 
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color:#2196F3;
$white-color:#FFFFFF; 
$secondary-bg-color:#E5E5E5;
$footer-bg-color:#2F303A;
$portfolio-bg:#F5F4FA;
$border-color:#AFB1B8;
$border-color-main:#ECECEC;
$border-color-second:#EEEEEE;
$input-color: rgba(33, 33, 33, 0.2);
$input-bg-color: rgba(0, 0, 0, 0.2);
$bg-link:rgba(255, 255, 255, 0.1);
$footer-color:rgba(255, 255, 255, 0.6);
$footer-border:rgba(255, 255, 255, 0.3);
$projects-bg-color:rgba(33, 150, 243, 0.9);